
extends ../../_app_layout

block content
    div.jumbo
        div.head
            div.left
                h1 #{profile.firstName}  #{profile.lastName} 
            div.right
                if current_user
                    a(href="/profile/edit" class="button") Edit Profile
    div.page
        div.card_container.content
            article.card
                div.head
                    div.left
                        h3 About #{profile.firstName}
                    div.right
                div !{profile.bio}
            article.card
                h3 Communities #{profile.firstName} has joined
                each community in communities
                    div
                        a(href="/communities/"+community.attributes.id)
                            h4 #{community.attributes.name}
            article.card
                h3 Events #{profile.firstName} is attending
                each event in events
                    div
                        a(href="/events/"+event.attributes.id)
                            h4 #{event.attributes.name} 
        div.card_container.aside
            article.card
                div.head
                    div.left
                        h3 Contact
                    div.right
                h5 Email: 
                p #{profile.email}
                h5 Mobile: 
                p #{profile.mobile}
            article.card
                div.head
                    div.left
                        h3 Total Donations
                    div.right
                p Total community contributions:
                h5 $3210/$5000 Goal
                div.bar
                    div.progress
