extends ../../_app_layout

block content
    div.jumbo
        div.head
            div.left
                h1 #{event.name}
            div.right
                    a(href="/events/"+event.id+"/edit" class="button") Edit event
        h4 #{event.description}
    div.page
        div.card_container.content
            article.card
              h3 Attending members
              p Russel Demos
              p Tylor Stewart
            article.card
              div#map
        div.card_container.aside
            article.card
                div.head
                    div.left
                        h3 Details
                    div.right
                        if is_going
                            a(href="/events/"+event.id+"/join" class="button") RSVP
                h5 Location: 
                p #{location.locationName}
                h5 Time: 
                p Start: #{event.startTime}
                p End #{event.endTime}
            article.card
                div.head
                    div.left
                        h3 Donations
                    div.right
                        a(href="/events/"+event.id+"/donate" class="button") Donate
                p Give us money pls.
                hr
                h5 $4500/$5000 Goal
                div.bar
                    div.progress
            article.card
              div.head
                  div.left
                      h3 You might like
                  div.right
                      // If event manager
                      // a(href="/events/create" class="button") Create Event
              p No other upcoming events for this community.
    script(type="text/javascript"). 
        function initMap() {
            var place = {lat: #{location.lat}, lng: #{location.lon}};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: place
            });
            var marker = new google.maps.Marker({
                position: place,
                map: map
            });
        }
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKV5YrtunBCcl802MF-H3ZYnwopK1ewl4&libraries=places&callback=initMap")