extends ../../_app_layout

block content
    div.jumbo
        div.head
            div.left
                h1 #{community.name}
            div.right
                    a(href="/communities/"+community.id+"/edit" class="button") Edit Community
        h4 #{community.description}
    div.page
        div.card_container.content
            article.card
                div.head
                    div.left
                        h3 Upcoming events for #{community.name}
                    div.right
                        // If community manager
                        a(href="/events/create" class="button") Create Event
                p No upcoming events
        div.card_container.aside
            article.card
                div.head
                    div.left
                        h3 Details
                    div.right
                        if is_member
                            a(href="/communities/"+community.id+"/join" class="button") Join
                p #{community.name} is located at #{community.location}.
            article.card
                div.head
                    div.left
                        h3 Donations
                    div.right
                        a(href="/communities/"+community.id+"/donate" class="button") Donate
                p Give us money pls.
                hr
                h5 $4500/$5000 Goal
                div.bar
                    div.progress
            article.card
                h3 Members
                p Jessica Barron
                p Byron Mejia
