extends ../../_app_layout

block content
    h2 #{community.name}
        a(href="/community/"+community.id+"/donate" class="button")      Donate
    h4 #{community.description}
    p #{community.location}
    // If community manager
    a(href="/community/"+community.id+"/edit" class="button") Edit Community

    article.card
        h3 Upcoming events for #{community.name}
        p No upcoming events
        // If community manager
    a(href="/events/create" class="button") Create Event

    article.card
        h3 Members of #{community.name}
        p Jessica Barron
        p Byron Mejia
    a(href="/community/"+community.id+"/join" class="button") Join
